<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4">
          <a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="icon icon-twitter icon-4x"></i>
            <div>Follow me on Twitter.</div>
          </a>
        </div>
        <div class="col-lg-2 next">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="icon icon-github icon-4x"></i>
            <div>
              See my github profile.
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
