<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
        <a class="hidden-xs" href="http://github.com/caarlos0/up"
        title="Get this theme!">
        <i class="icon-download icon-large"></i>
      </a>
      <a class="visible-xs" href="http://github.com/caarlos0/up"
      title="Get this theme!">
      <i class="icon-download icon-large"></i> Get this theme!
    </a>
  </li>
  <li>
    <a class="hidden-xs" title="About me" href="/about">
      <i class="icon-user icon-large"></i>
    </a>
    <a class="visible-xs" title="About me" href="/about">
      <i class="icon-user icon-large"></i> About me
    </a>
  </li>
  <li>
    <a class="hidden-xs" href="/atom.xml" title="Atom Feed">
      <i class="icon-rss icon-large"></i>
    </a>
    <a class="visible-xs" href="/atom.xml" title="Atom Feed">
      <i class="icon-rss icon-large"></i> Atom Feed
    </a>
  </li>
</ul>
</div>
</nav>
