<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="/css/up.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
  rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <link href="/css/font-awesome-ie7.css" rel="stylesheet">
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon" href="/apple-touch-icon.jpg" />
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">{{ site.title }}</a>
        <ul class="nav">
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <div id="footer">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="span3"></div>
          <div class="span2">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-4x"></i>
              <div>Follow me on Twitter.</div>
            </a>
          </div>
          <div class="span2"></div>
          <div class="span2 next">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="icon icon-github icon-4x"></i>
              <div>
                See my github profile.
              </div>
            </a>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>

</html>
